Repository is0060hf/comment-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: agent, web, shared, typescript, react, nextjs, ci/cd, config, documentation, test, security, dependencies

.github/labeler.yml:

# Tsumiki AITDD - Refactor Phase
# タスク48: 自動ラベル設定

# パッケージごとのラベル
agent:
  - packages/agent/**/*

web:
  - packages/web/**/*

shared:
  - packages/shared/**/*

# 技術スタックごとのラベル
typescript:
  - '**/*.ts'
  - '**/*.tsx'
  - '**/tsconfig*.json'

react:
  - packages/web/**/*.tsx
  - packages/web/**/*.jsx

nextjs:
  - packages/web/app/**/*
  - packages/web/pages/**/*
  - packages/web/next.config.js

# 設定・インフラ
ci/cd:
  - .github/workflows/**/*
  - .github/actions/**/*

config:
  - '**/*.config.js'
  - '**/*.config.ts'
  - '**/config/**/*'
  - .eslintrc*
  - .prettierrc*
  - jest.config.*

# ドキュメント
documentation:
  - '**/*.md'
  - doc/**/*
  - .spec-workflow/**/*.md

# テスト
test:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - '**/*.spec.tsx'
  - '**/tests/**/*'
  - '**/__tests__/**/*'

# セキュリティ
security:
  - '**/auth/**/*'
  - '**/moderation/**/*'
  - .env.example

# 依存関係
dependencies:
  - package.json
  - packages/*/package.json
  - package-lock.json
  - yarn.lock

Vercelデプロイ設定の修正と初回デプロイ成功
  package-lock.json
  packages/web/next.config.js
  packages/web/package.json
  packages/web/src/shared/index.ts
  packages/web/src/shared/types/app-config.ts
  packages/web/src/shared/types/index.ts
  packages/web/src/shared/types/providers.ts
  packages/web/src/shared/types/shared-types.ts
  packages/web/tsconfig.json
  packages/web/vercel.json
Labels: web, typescript, nextjs, config, dependencies

feat(agent): YouTube投稿長さポリシーの実装完了
  .spec-workflow/templates/design-template.md
  .spec-workflow/templates/product-template.md
  .spec-workflow/templates/requirements-template.md
  .spec-workflow/templates/structure-template.md
  .spec-workflow/templates/tasks-template.md
  .spec-workflow/templates/tech-template.md
  packages/agent/src/adapters/mocks/stt.ts
  packages/agent/src/audio/capture.ts
  packages/agent/src/audio/index.ts
  packages/agent/src/config/config-sync.ts
  packages/agent/src/context/index.ts
  packages/agent/src/context/store.ts
  packages/agent/src/core/comment-pipeline.ts
  packages/agent/src/core/moderation-manager.ts
  packages/agent/src/llm/comment-generator.ts
  packages/agent/src/llm/index.ts
  packages/agent/src/policies/ng-words.ts
  packages/agent/src/policies/posting-length.ts
  packages/agent/src/ports/moderation.ts
  packages/agent/src/safety/index.ts
  packages/agent/src/safety/safety-checker.ts
  packages/agent/src/trigger/detector.ts
  packages/agent/src/trigger/index.ts
  packages/agent/test-summary.md
  packages/agent/tests/audio/capture.test.ts
  packages/agent/tests/cli/cli.test.ts
  packages/agent/tests/core/moderation-manager.test.ts
  packages/agent/tests/integration/audio-capture.test.ts
  packages/agent/tests/integration/moderation.test.ts
  packages/agent/tests/integration/trigger-generation-safety.test.ts
  packages/agent/tests/llm/comment-generator.test.ts
  packages/agent/tests/safety/safety-checker.test.ts
  packages/agent/tests/stt/streaming.test.ts
  packages/agent/tests/trigger/detector.test.ts
  packages/agent/tests/youtube/oauth-server.test.ts
  packages/agent/tests/youtube/posting-length.test.ts
Labels: agent, typescript, config, documentation, test

fix(agent): ビルドエラーの完全修正とCI/CDパイプラインの改善
  packages/agent/src/adapters/mocks/edge-config.ts
  packages/agent/src/adapters/mocks/llm.ts
  packages/agent/src/adapters/mocks/moderation.ts
  packages/agent/src/adapters/mocks/stt.ts
  packages/agent/src/adapters/openai-llm.ts
  packages/agent/src/adapters/openai-moderation.ts
  packages/agent/src/adapters/whisper.ts
  packages/agent/src/audio/capture.ts
  packages/agent/src/audio/index.ts
  packages/agent/src/audio/mock-capture.ts
  packages/agent/src/core/process-manager.ts
  packages/agent/src/errors/error-handler.ts
  packages/agent/src/generation/comment-generator.ts
  packages/agent/src/llm/comment-generator.ts
  packages/agent/src/logging/logger.ts
  packages/agent/src/policies/ng-words.ts
  packages/agent/src/policies/posting-length.ts
  packages/agent/src/safety/safety-checker.ts
  packages/agent/src/scheduler/comment-scheduler.ts
  packages/agent/src/stt/streaming.ts
  packages/agent/src/youtube/live-chat.ts
  packages/agent/tests/integration/logging-errors.test.ts
  packages/agent/tests/integration/process-management.test.ts
  packages/agent/tests/integration/stt-adapters.test.ts
  packages/web/src/shared/types/index.ts
  packages/web/src/shared/types/providers.ts
  packages/web/src/shared/types/shared-types.ts
Labels: agent, web, typescript, test

feat(web): Server ActionsとRoute Handlersのテスト実装（Tsumiki方式）
  package-lock.json
  packages/web/jest.config.js
  packages/web/package.json
  packages/web/src/app/actions/safety.ts
  packages/web/src/app/actions/settings.ts
  packages/web/src/app/api/config/route.ts
  packages/web/src/app/api/moderation/test/route.ts
  packages/web/src/lib/api.ts
  packages/web/src/lib/auth.ts
  packages/web/src/lib/edge-config.ts
  packages/web/src/lib/moderation.ts
  packages/web/tests/actions/safety.test.ts
  packages/web/tests/actions/settings.test.ts
  packages/web/tests/api/config.test.ts
  packages/web/tests/api/moderation.test.ts
  packages/web/tests/setup.ts
  packages/web/tests/ui-libraries.test.tsx
Labels: web, typescript, react, config, test, security, dependencies

docs: README & AITDDフローガイドの作成（Tsumiki方式）
  .env.example
  LICENSE
  README.md
  config/default.yaml
  doc/AITDD_GUIDE.md
  doc/AUDIO_SETUP.md
  doc/DEVELOPMENT_FLOW.md
Labels: config, documentation, security

feat(web): ダッシュボード画面の実装（Tsumiki方式）
  package-lock.json
  packages/web/package.json
  packages/web/src/app/api/comments/recent/route.ts
  packages/web/src/app/api/stats/route.ts
  packages/web/src/app/api/status/route.ts
  packages/web/src/app/api/stream/info/route.ts
  packages/web/src/app/dashboard/page.tsx
  packages/web/src/components/dashboard/DashboardStats.tsx
  packages/web/src/components/dashboard/RecentComments.tsx
  packages/web/src/components/dashboard/StatusIndicator.tsx
  packages/web/src/components/dashboard/StreamInfo.tsx
  packages/web/src/components/ui/badge.tsx
  packages/web/src/components/ui/card.tsx
  packages/web/src/lib/utils.ts
  packages/web/tests/components/dashboard.test.tsx
  packages/web/tests/setup.ts
Labels: web, typescript, react, test, dependencies

feat(web): 設定画面の実装（Tsumiki方式）
  package-lock.json
  packages/web/package.json
  packages/web/src/app/settings/page.tsx
  packages/web/src/components/settings/CommentSettingsForm.tsx
  packages/web/src/components/settings/TimingSettingsForm.tsx
  packages/web/src/components/ui/button.tsx
  packages/web/src/components/ui/input.tsx
  packages/web/src/components/ui/label.tsx
  packages/web/src/components/ui/select.tsx
  packages/web/src/components/ui/switch.tsx
  packages/web/src/components/ui/tabs.tsx
  packages/web/src/components/ui/textarea.tsx
  packages/web/src/components/ui/use-toast.tsx
  packages/web/src/lib/edge-config.ts
  packages/web/tests/components/settings-form.test.tsx
  packages/web/tests/pages/settings.test.tsx
  packages/web/tests/setup.ts
Labels: web, typescript, react, test, dependencies

feat(web): 安全設定画面の実装（Tsumiki方式）
  package-lock.json
  packages/web/package.json
  packages/web/src/app/safety/page.tsx
  packages/web/src/components/safety/ModerationTest.tsx
  packages/web/src/components/safety/SafetySettingsForm.tsx
  packages/web/src/components/ui/alert.tsx
  packages/web/src/components/ui/slider.tsx
  packages/web/tests/components/safety-form.test.tsx
  packages/web/tests/pages/safety.test.tsx
Labels: web, typescript, react, test, dependencies

feat(web): エージェント通信用Server Actions/Route Handlersの実装（Tsumiki方式）
  .env.example
  packages/web/src/app/actions/agent.ts
  packages/web/src/app/api/agent/commands/route.ts
  packages/web/src/app/api/agent/comment/route.ts
  packages/web/src/app/api/agent/error/route.ts
  packages/web/src/app/api/agent/status/route.ts
  packages/web/src/app/api/comments/recent/route.ts
  packages/web/src/app/api/stats/route.ts
  packages/web/src/app/api/status/route.ts
  packages/web/src/lib/agent-store.ts
  packages/web/src/lib/auth.ts
  packages/web/tests/api/agent.test.ts
Labels: web, typescript, test, security

feat(web): Vercel Edge Config/KV連携の実装（Tsumiki方式）
  .env.example
  package-lock.json
  packages/web/package.json
  packages/web/src/lib/config-sync.ts
  packages/web/src/lib/edge-config-client.ts
  packages/web/src/lib/edge-config.ts
  packages/web/src/lib/kv-store.ts
  packages/web/tests/lib/vercel-config.test.ts
Labels: web, typescript, test, security, dependencies
